* {
    margin: 0;
    padding: 0;
}
.titleBar {
    height: 130px;
    background-color: #1499f4;
    display: flex;
    justify-content: space-between;
    .left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 15px;
        color: white;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;

        .left-item {
            &:first-of-type {
                font-size: 15px;
            }
        }
    }

    .right {
        padding-top: 20px;
        padding-right: 20px;
        .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #4ad965;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .time-box {
        margin-top: 10px;
        text-align: center;
        .month-date {
            font-size: 26px;
        }
        .time {
            font-size: 32px;
        }
    }

    .code-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text {
            font-size: 16px;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        img {
            width: 200px;
        }
    }

    .title1 {
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .title2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .title3 {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 22px;
        margin-top: 110px;
        .title3-item {
            text-align: center;
        }
    }
}
